
mat-card {
  background-color: #373737;
  font-family: 'Poiret One', cursive;
  color: white;
  padding: 16px 8px 10px 16px;
  min-height: 100px;
}

mat-card-subtitle {
  color: white;
  font-family: 'Poiret One', cursive;
}
