<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img mat-card-image src="https://robohash.org/me" alt="User photo">
    </div>
    <mat-card-title>User id: {{ userID }}</mat-card-title>
    <mat-card-subtitle>Logged in status</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-stroked-button color="accent">Logout</button>
    <button mat-stroked-button color="accent">Profile</button>
  </mat-card-actions>
</mat-card>
