.grid-container {
  margin: 12px;
  padding: 0;
}

mat-card {
  margin: 24px;
  background-color:rgba(255, 255, 255, 0.6);
}

.mat-grid-tile {
  background-color: green;
  padding: 0%;
  height: 10px;
}

app-guestlist-admin {
  margin: 0;
}

mat-grid-list {
  height: 100%;
}

#map {
  height: 400px;
}

.grid-container {
}


