.grid-container {
  margin: 12px;
  padding: 0;
}

mat-card {
  margin: 24px;
}

.mat-grid-tile {
  background-color: green;
  padding: 0%;
  height: 10px;
}

app-guestlist-admin {
  margin: 0;
}

mat-grid-list {
  height: 100%;
}

#map {
  height: 400px;
}
/*.dashboard-card {*/
  /*position: absolute;*/
  /*top: 15px;*/
  /*left: 15px;*/
  /*right: 15px;*/
  /*bottom: 15px;*/
/*}*/

/*.more-button {*/
  /*position: absolute;*/
  /*top: 5px;*/
  /*right: 10px;*/
/*}*/


