<div class="grid-container">
  <mat-card>
    <app-messages></app-messages>
  </mat-card>
  <mat-card>
    <app-info-card-admin></app-info-card-admin>
  </mat-card>
  <mat-card id="guest-list">
    <div class="container"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutWrap
         fxLayoutGap="0.5%"
         fxLayoutAlign="center">
      <div fxFlex="50%">
        <app-guestlist-admin></app-guestlist-admin>
      </div>
      <div fxFlex="50%">
        <app-guest-detail></app-guest-detail>
      </div>
    </div>
  </mat-card>
  <mat-card id="locations">
    <app-map-admin></app-map-admin>
  </mat-card>

  <mat-card>
  </mat-card>
  <mat-card id="present-list">
    <app-present-guest></app-present-guest>
  </mat-card>
  <mat-card>
    <app-present-upload></app-present-upload>
  </mat-card>
</div>
