table, mat-paginator, mat-form-field {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row:hover {
  background-color: #cae3e8;
  cursor: pointer;
}

map-card.mat-card {
  padding: 0px;
}


button {
  width: 100%;
  background-color: #cae3e8;
}
