<h1>Event locations</h1>
<div class="container"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutWrap
     fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div fxFlex="30%">
    <mat-card>
      Click on the map to add new location!
    </mat-card>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [vertical]="true">
      <mat-button-toggle
        *ngFor="let marker of markers"
        value="{{marker.label}}"
        (click)="onLocationClick(marker)"
      >{{marker.label}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div fxFlex="70%">
    <agm-map
      [latitude]="latCenterView"
      [longitude]="lngCenterView"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">

      <agm-marker
        *ngFor="let marker of markers; let i = index"
        (markerClick)="clickedMarker(marker.label, i)"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
        [label]="marker.label"
        [markerDraggable]="marker.draggable"
        (dragEnd)="markerDragEnd(marker, $event)">
        <agm-info-window
          #infoWindow
          [isOpen]="marker.isOpen"
        >
          <h2>{{marker.label}}</h2>
          <app-marker-info
            [marker]="marker"
          ></app-marker-info>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
