<h1><i class="fas fa-map-marked-alt fa-2x cardIcon"></i>
  Event locations</h1>

<mat-form-field appearance="outline" class="form-group">
  <mat-label>Add new location!</mat-label>
  <input matInput placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
         class="form-control" #search [formControl]="searchControl">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>i.e. Budapest</mat-hint>
</mat-form-field>
<agm-map
  [latitude]="latCenterView"
  [longitude]="lngCenterView"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  >

  <div *ngIf="markers | async; let markers; else loading">
    <div *ngFor="let marker of markers;">
      <agm-marker
        [latitude]="marker.lat"
        [longitude]="marker.lng"
        [markerDraggable]="true"
        (dragEnd)="markerDragEnd(marker, $event)">
        <agm-info-window
          #infoWindow
        >
          <app-marker-info
            [marker]="marker"
          ></app-marker-info>
        </agm-info-window>
      </agm-marker>
    </div>
  </div>
  <ng-template #loading>Loading Markers Data...</ng-template>
</agm-map>
