<h1><i class="fas fa-map-marked-alt fa-2x cardIcon"></i>
  Event locations</h1>
<div class="container"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutWrap
     fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div fxFlex="30%">
    Click on the map to add location!
  </div>
  <div fxFlex="70%">
    <agm-map
      [latitude]="latCenterView"
      [longitude]="lngCenterView"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">

      <div *ngFor="let marker of markers;">
        <agm-marker
          *ngIf="marker.isVisible"
          [latitude]="marker.lat"
          [longitude]="marker.lng"
          [markerDraggable]="marker.draggable"
          (dragEnd)="markerDragEnd(marker, $event)">
          <agm-info-window
            #infoWindow
            [isOpen]="marker.isOpen"
          >
            <app-marker-info
              [marker]="marker"
            ></app-marker-info>
          </agm-info-window>
        </agm-marker>
      </div>
    </agm-map>
  </div>
</div>
