<div class="grid-container">
  <mat-card>
    <div class="container"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutWrap
         fxLayoutGap="0.5%"
         fxLayoutAlign="center">
      <div fxFlex="50%">
        <app-guestlist-admin></app-guestlist-admin>
      </div>
      <div fxFlex="50%">
        <app-guest-detail></app-guest-detail>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <app-map-admin></app-map-admin>
  </mat-card>
  <mat-card>
    Insert component here
  </mat-card>
  <mat-card>
  </mat-card>
</div>
