<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">{{ userID }}</mat-toolbar>

    <app-user-card></app-user-card>
    <h2>My wedding:</h2>
    <mat-nav-list>
      <a *ngFor="let wedding of weddings" mat-list-item routerLink="/wedding/{{wedding.name}}">
        {{ wedding.name }}
      </a>
    </mat-nav-list>
    <h2>Guest weddings</h2>
    <mat-nav-list>
      <div *ngFor="let wedding of weddings">
        <a mat-list-item routerLink="/wedding/{{wedding.name}}">
          {{ wedding.name }}
        </a>
        <br>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Display wedding: {{id}}</span>
    </mat-toolbar>
    <app-dashboard
      [weddingName]=id
    ></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
