

#output-container {
  position: relative;
  min-height: 200px;
  overflow: scroll;
  width: 100%;
  border: 1px solid gainsboro;
  border-radius: 6px;
  background-color:rgba(255, 255, 255, 0.4);

}

#output {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

mat-form-field {
  width: 100%;
}


.myMessage {
  background-color: #cae3e8;
}
