<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">

    <!--<div class="company-logo">My Wedding</div>-->
    <app-user-card></app-user-card>
    <!--</mat-nav-list>-->
    <h2>My weddings:</h2>
    <div *ngIf="myWeddings | async; let myWeddings; else loading">

      <mat-nav-list>
        <div *ngFor="let wedding of myWeddings">
          <a
            class="sidenav-button"
            mat-raised-button
            routerLink="/wedding/{{wedding}}"
          >
            {{ wedding }}
          </a>
          <br>
        </div>
        <button class="sidenav-button" mat-stroked-button color="alert" (click)="openWeddingDialog()">
          +
        </button>
      </mat-nav-list>
    </div>
    <ng-template #loading>Loading User Data...</ng-template>
    <h2>Guest weddings:</h2>
    <!--<mat-nav-list>-->
    <!--<a-->
    <!--class="sidenav-button"-->
    <!--mat-stroked-button color="primary"-->
    <!--*ngFor="let wedding of myWeddings"-->
    <!--routerLink="/wedding/{{wedding.name}}">-->
    <!--{{ wedding.name }}-->
    <!--</a>-->




  </mat-sidenav>
  <mat-sidenav-content>
    <button
      id="navToggle"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle(); toggleMenuIcon()"
    >

      <mat-icon aria-label="Side nav toggle icon">
        <i class="material-icons" *ngIf="!menuOpen">
          arrow_back_ios
        </i>
        <i class="material-icons" *ngIf="menuOpen">
          menu
        </i>
      </mat-icon>
    </button>
    <!--<mat-toolbar>-->
    <!--<a (click)="goTo('guest-list')" >Guest list</a>-->
    <!--<a (click)="goTo('locations')" >Locations</a>-->
    <!--<a (click)="goTo('present-list')" >Present list</a>-->
    <!--</mat-toolbar>-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
