<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">

      <!--<div class="company-logo">My Wedding</div>-->
    <app-user-card></app-user-card>
    <h2>My weddings:</h2>
    <mat-nav-list>
      <a
        class="sidenav-button"
        mat-stroked-button color="primary"
         *ngFor="let wedding of myWeddings"
         routerLink="/wedding/{{wedding.name}}">
        {{ wedding.name }}
      </a>
      <button class="sidenav-button" mat-stroked-button color="alert" (click)="openWeddingDialog()">
        +
      </button>

    </mat-nav-list>
    <h2>Guest weddings:</h2>
    <mat-nav-list>
      <div *ngFor="let wedding of guestWeddings">
        <a
          class="sidenav-button"
          mat-stroked-button color="warn"
           routerLink="/wedding/{{wedding.name}}"
           (click)="updateDashBoard(wedding)"
        >
          {{ wedding.name }}
        </a>
        <br>
      </div>
      <a mat-stroked-button color="warn" routerLink="/wedding/testWedding">Test wedding</a>
      <a mat-stroked-button color="warn" routerLink="/wedding/testWedding2">Test wedding 2</a>
      <a mat-stroked-button color="warn" routerLink="/wedding/testWedding3">Test wedding 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      id="navToggle"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle(); toggleMenuIcon()"
    >

      <mat-icon aria-label="Side nav toggle icon">
        <i class="material-icons" *ngIf="!menuOpen">
          arrow_back_ios
        </i>
        <i class="material-icons" *ngIf="menuOpen">
          menu
        </i>
      </mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
