.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

a {
  width: 100%;
  margin-bottom: 4px;
}

.mat-button-riple {
  margin-bottom: 10px;
}

#navToggle {
  position: fixed;
}
